table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  th,td {
    vertical-align: middle;
}

.card-style{
  background: #F5F5F5;
    margin: 0rem;
    padding: 2rem;
    /* background: rgb(204, 207, 209); */
    min-height: 100vh;
}

.table-style{
  background: #aeb3ae;
  border-radius: 15px;
}
.table-header-style{
  /* background-color: white;
  border-radius: 15px; */
  color: rgb(34, 31, 31);
  font-size: 20px;
}
.tr-header{
  background: #F5F5F5;
  border-radius: 10px;
}

.export-excel{
  margin-top: 4rem;
  font-size: 10px;
}
